
.layout {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #F0F0F0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
 
  .head {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
 
  .profpic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
    border: 5px solid #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .profpic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  
  .prof {
    flex: 1;
  }
  
  .h2 {
    font-size: 22px;
    margin-bottom: 5px;
    color: #333;
    text-decoration: underline;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  }
  
  .t2 {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
    color: #666;
  }
 
  .edu,
  .sk,
  .pj,
  .sl {
    margin-bottom: 20px;
    border-left: 5px solid #ddd;
    padding-left: 15px;
  }
  
  .headings {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .t {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
  }
  
  
  .sk ul {
    list-style: none;
    padding-left: 0;
  }
  
  .sk li {
    margin-bottom: 5px;
    color: #999;
  }
  
 
  .pj ul {
    list-style: none;
    padding-left: 0;
  }
  
  .pj li {
    margin-bottom: 5px;
    color: #999;
  }

  .sl ul {
    list-style: none;
    padding-left: 0;
  }
  
  .sl li {
    margin-bottom: 5px;
    color: #999;
  }
  
  .sl h2 {
    margin-bottom: 10px;
    color: #333;
  }
  
  .sl h4 {
    font-size: 16px;
    margin-bottom: 0;
    color: #666;
  }
  